.card {
  width: 200px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;

  &__img-img {
    margin-top: 32px;
    margin-bottom: 40px;
    margin-inline: 16px;
    max-width: 160px;
    height: 134px;
    background-image: url(../images/imac.jpeg);
    background-position: center;
    background-size: cover;
  }

  &__title {
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 4px;
    margin-inline: 16px;
    color: $color-black;
  }

  &__price-title {
    font-weight: 400;
    font-size: 12px;
    color: $color-gray;
  }

  &__code {
    font-size: 10px;
    color: $color-gray;
    font-weight: 400;
    margin-bottom: 16px;
    margin-inline: 16px;
  }

  &__review-number {
    font-size: 10px;
    font-weight: 400;
  }

  &__price-value {
    font-weight: 700;
  }

  &__review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    margin-inline: 16px;
  }

  /* card price */

  &__price {
    margin-inline: 16px;

    align-items: center;
    display: flex;
    flex-direction: row;
    max-width: 166px;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &__value {
    color: $color-gray;
  }

  &__button-buy {
    margin-inline: 16px;

    color: $color-white;
    font-weight: 700;
    border-radius: 5px;
    background-color: $color-primary;
    text-transform: uppercase;
    min-width: 166px;
    height: 40px;
    margin-bottom: 16px;
  }

  &__button-buy:hover {
    border: 1px solid $color-primary;
    color: $color-primary;
    background-color: $color-white;
  }

}

/* img */