.card {
  width: 200px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  background-color: $color-white;
  padding: 32px 16px 16px;
  border-radius: 5px;
  border: 1px solid #f3f3f3;

  &__img-img {
    width: 160px;
    height: 134px;
    display: block;
    margin: 0 auto;
  }

  &__title {
    font-weight: 500;
    font-size: 12px;
    height: 36px;
    color: #060b35;
    line-height: 18px;
    margin: 40px auto 4px;
  }

  &__price-title {
    font-weight: 400;
    font-size: 12px;
    color: $color-gray;
  }

  &__code {
    font-size: 10px;
    color: $color-gray;
    font-weight: 400;
    width: 98px;
    line-height: 14px;
    margin-bottom: 16px;
  }

  &__review {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 24px;
  }

  &__review-number {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    align-items: flex-end;
  }

  &__price-value {
    color: #060b35;
    font-weight: 700;
  }

  /* card price */

  &__price {
    height: 18px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
    color: $color-gray;
    font-size: 16px;
    font-weight: bold;
  }

  &__button-buy {
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 40px;
    border: 1px solid #00acdc;
    border-radius: 5px;
    font-size: 14px;
    line-height: 16px;
    color: $color-white;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    background-color: $color-primary;
    min-width: 166px;

    &:hover {
      border: 1px solid $color-primary;
      color: $color-primary;
      background-color: $color-white;
    }
  }
}
