// Cores
$color-white: #fff;
$color-primary: #00acdc;
$color-gray: #616070;
$color-black: #000;

// Tipografia
$font-weight-bold: 700;
$font-weight-400: 400;
$font-weight-500: 500;

// Bordas
$border-radius-small: 5px;
