body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif, 'Lucida Sans';
}

.card {
  width: 200px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

/* img */

.img {
  margin-top: 32px;
  margin-bottom: 40px;
  margin-inline: 16px;
  max-width: 160px;
  height: 134px;
  background-image: url(../images/imac.jpeg);
  background-position: center;
  background-size: cover;
}

.card__title {
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 4px;
  margin-inline: 16px;
  color: #000;
}

.card__price-title {
  font-weight: 400;
  font-size: 12px;
  color: #616070;
}

.card__code {
  font-size: 10px;
  color: #616070;
  font-weight: 400;
  margin-bottom: 16px;
  margin-inline: 16px;
}

.card__review-number {
  font-size: 10px;
  font-weight: 400;
}

.card__price-value {
  font-weight: 700;
}

.card__review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  margin-inline: 16px;
}

/* card price */

.card__price {
  margin-inline: 16px;

  align-items: center;
  display: flex;
  flex-direction: row;
  max-width: 166px;
  justify-content: space-between;
  margin-bottom: 16px;
}

.card__value {
  color: #616070;
}

.card__button-buy {
  margin-inline: 16px;

  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  background-color: #00acdc;
  text-transform: uppercase;
  min-width: 166px;
  height: 40px;
  margin-bottom: 16px;
}

.card__button-buy:hover {
  border: 1px solid #00acdc;
  color: #00acdc;
  background-color: #fff;
}
