body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif, 'Lucida Sans';
  width: 200px;
}

.product {
  margin: 16px;
  width: calc(100% - 32px);
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

/* img */

.img {
  margin-top: 32px;
  margin-bottom: 40px;
  max-width: 160px;
  height: 134px;
  background-image: url(../images/imac.jpeg);
  background-position: center;
  background-size: cover;
}

.product__title {
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 4px;
  color: #000;
}

.product__price-title {
  font-weight: 400;
  font-size: 12px;
  color: #616070;
}

.product__code {
  font-size: 10px;
  color: #616070;
  font-weight: 400;
  margin-bottom: 16px;
}

.product__review-number {
  font-size: 10px;
  font-weight: 400;
}

.product__price-value {
  font-weight: 700;
}

.product__review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.product__stars {
  display: flex;
  flex-direction: row;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 4px;
}

.star {
  background-image: url('../images/star.svg');
  width: 16px;
  height: 16px;
}

.star--active {
  background-image: url('../images/star-active.svg');
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
}

/* Product price */

.product__price {
  align-items: center;
  display: flex;
  flex-direction: row;
  max-width: 166px;
  justify-content: space-between;
  margin-bottom: 16px;
}

.product__value {
  color: #616070;
}

.button__buy {
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  background-color: #00acdc;
  text-transform: uppercase;
  min-width: 166px;
  height: 40px;
  margin-bottom: 16px;
}

.button__buy:hover {
  border: 1px solid #00acdc;
  color: #00acdc;
  background-color: #fff;
}
