.card__stars {
  display: flex;
  flex-direction: row;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 4px;
}

.star {
  background-image: url('../images/star.svg');
  width: 16px;
  height: 16px;
}

.star--active {
  background-image: url('../images/star-active.svg');
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
}
